*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height:50px;
    width: 100px;
}

.logo{
    background-image:url(Image/amazon\ logo.jpg);
    background-size: cover;
    height:50px;
    width:100%;
    
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border:1px solid white;
}

/** box2*/

.add-first{
    color:#cccccc;
    font: size 0.85rem;
    margin-left:15px;
}

.add-second{
font-size: 1rem;
margin-left:3px;
}

.addressicon{
    display: flex;
    align-items:center;
}

/** Box 3 **/
.nav-search{
    display: flex;
    background-color:pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/** box 4 */

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.7rem;
    font-weight: 700;
}

.nav-cart i{
font-size: 30px;

}

.nav-cart{
    font-size: 0.8 rem;
    font-weight:700;
}

/** panel  **/

.panel{
height: 40px;
background-color:#222f3e;
display: flex;
color: white;
align-items: center;
justify-content: space-around;
}

.panel-option p{
    display: inline-block;
    margin-left: 15px;
    
}
.panel-option{
    width: 70%;
    font-size: 0.85 rem;
}

.panel-deal{
font-size:0.9rem;
font-weight: 700;
}

.hero-section{
   background-image: url(Image/main\ head\ photo.jpg); 
   background-size: cover;
   height: 400px;
   display: flex;
   justify-content:center;
   align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: #0f1111;
    height:40px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 0.85 rem;
    bottom:25px;
    width: 90%;
    margin-bottom: 30px;
 
}

.hero-msg a{
    color: #007875;
}

/** shop section **/
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color: #DAF050;
    height: 1400px;
}
.box{
    height: 400px;
    width:23%;
   background-color: white;
   padding:20px 0px 15px;
   margin-top:15px;
}

.box-image{
    height:300px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    margin-bottom: 0px;
    color: #007875;
}

.boxof4{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;

}

.boxof4 div{
    height: 130px;
    width:45%;
    margin-top: 0.6rem;
    background-size:contain;
}

.box8 p{
    margin-top: 30px;
    color: #007875;
}

.btm-login{
height: 166px;
}

.inner-btm{
    margin-top: 10px;
    height: 140px;
    border: 1px solid #cccccc;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
   
}
.recommendations{
    height: 15px;
    font-size: 0.8rem;
    align-content: center;
    margin-left: 510px;
    margin-top: 50px;
    color: #0f1111;
}

.btm-signin{
    height: 28px;
    width: 230px;
    background-color: rgba(255, 213, 0, 0.76);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 28px;
    text-shadow: 0 1px 0 #ffe093;
border-radius: 5px;
margin-left: 500px;
}

.new-Customer{
    height: 15px;
    font-size: 0.65rem;
    margin-left: 550px;
    margin-top: 2px;
    color: #0f1111;
}
.new-Customer a{
    color: #007875;
    text-decoration: none;
}

/** Footeer Line **/
.footerdiv{
height: 550px;
background-color:#232F3E;
}
.botom-option{
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.back_to_top {
    height: 49px;
    color: #ffffff;
    background-color: #37475A;
    font-size: 0.9rem;
    line-height:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.back_to_top a {
    color: #ffffff;
    text-decoration: none;
}

.btmbox{
    margin-top: 80px;
    height: 291px;
    width: 20%;
    border:none;
   
}

.head{
    font-weight: 700;
    color: #ffffff;
    margin-left: 8px;
}

.btm-text{
    margin-left: 8px;
    font-size: 1rem;
    color: #dddddd;
    margin-top: 10px;
    font-weight: lighter; 
}
 
.footerline{
    margin-top: 5px;
    height:100px;
    border-top:2px solid #007875;
}

.footerline-option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.btm-logo{
    height: 35px;
    width: 120px;
    border:none;
    margin-right: 100px;
    background-image: url(Image/btmlogo.jpg);
    background-size: cover;
   
}
.footerline-box{
   border: 1px solid #007875;
   border-radius: 5px;
   margin-left: 5px;
    height: 35px;
    width: 120px;
    
}

.language {
    display: flex;
    color: white;
    align-items: center;
    font-size: 0.9rem;
    text-align: center;
    
}

.language i{
    color: white;
    margin-left: 10px;
}
.language p{
    color: white;
    margin-left: 15px;
}
.currency{
    display: flex;
    align-items: center;
}
.currency p{
    color: white;
    margin-left: 5px;
    font-size: 0.8rem;
}
.currency i{
    color: gold;
    margin-left: 5px;
    font-size: 0.8rem;
}

.country{
    display: flex;
    align-items: center;
}

.country i,p{
    color: white;
    margin-left: 3px;
}
.country i{
    color: red;
    margin-left: 3px;
}

.footer-nav{
    height: 620px;
    background-color: #131A22;   
}

.footer-nav-contents{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
   margin-left: 150px;
   margin-right: 150px;
}
.footer-nav-box{
height: 68px;
width: 120px;
margin: 20px;
color: #769999;
font-size: 0.8rem;
margin-top: 10px;
}
.footer-nav-box h4{
    color: white;
}

.footerlast{
    height:38px;
    background-color: #131A22;
    padding-bottom: 30px;
    padding-top: 10px;
    color: white;
    font-size: 0.7rem;
  text-align: center;
  
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.footerlast p{
    color: white;
    font-size: 0.7rem;
    justify-content: space-evenly;
}